form{
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 10px auto;
    max-width: 900px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
}

label {
    flex: 0 0 150px; /* fixed width so labels align nicely */
    font-size: 18px;
    text-align: right;
    margin-right: 20px;
}

input,
select {
    flex: 1; /* input/select will take remaining space */
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 18px;
    margin-right: 60px;
}

option {
    font-size: 18px;
    padding: 8px;
}

/* Buttons row */
.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

button {
    min-width: 120px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: burlywood;
}

/* Back button */
.btn-back {
    background: white;
    text-align: center;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-back:hover {
    background-color: burlywood;
}
